*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}
.wrapper{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    h1{
        border-bottom: 1px solid;
        text-align: center;
        flex-basis: 100%;
    }
    .staff,.client{
        flex-direction: column;
        flex-basis: 50%;
        text-align: center;
        padding: 25px;
    }
    .staff{
        border-right: 1px solid;
    }
}